<ion-content >
  <p></p>
  <div class="ion-padding">
  <div text-center>
    <ion-button color="warning">
      <ion-text color="dark">
      <h4>มาตรฐานของทุเรียนภูเขาไฟ</h4>
      </ion-text>
      </ion-button>
      </div>
      </div>
  <ion-card color="warning">
      <ion-card-content>
        <ion-text color="dark">
      กรมทรัพย์สินทางปัญญาได้ประกาศให้ทุเรียนภูเขาไฟจังหวัดศรีสะเกษเป็นทุเรียน GI (Geogeraphical lndications)หรือสิ่งที่บ่งชี้ทางภูมิศาสตร์
       เป็นทุเรียนที่มีอัตลักษณ์เฉพาะ กล่าวคือ มีอัตลักษณ์ที่ไม่เหมือนใครเนื้อทุเรียนระเอียดนุ่ม กรอบนอกนุ่มในหวานมันกำลังพอดี ที่สำคัญกลิ่นหอมอ่ที่สำคัญกลิ่นหอมอ่อนๆ
       ที่สำคัญไม่ร้อนในด้วย อย่างไรก็ดีประกาดจะมีผลจริงๆ ต้องหลังจากประกาศพ้นกำหนด 90 วันไปแล้วก็คือหลังวันที่ 25 มิถุนายน เป็นต้วันไปแล้วก็คือหลังวันที่
          จังหวัดศรีสะเกษเตรียมประกาสวนทุเรียนคุณภาพซึ้งสวนทุเรียนที่ได้รับการคัดเลือกเป็นสวนทุเรียนคุณภาพจะต้องปฎิบัติตามหลัก เกณฑ์ดังนี้
           1.เกษตรกรปฏิบัติดูแลสวนทุเรียนได้ถูกต้องตามหลักวิชาการ อย่างสม่ำเสมอ เช่นป้องกันกำจัดศตรูพืช การตัดแต่กิ่ง-ดอก-ผล ต้องมีการจดลงในสมุดบันทึก
           กานปฏิบัติดูแลสวนเป็นลำดับขั้นตอนอย่างสม่ำเสมอตลอดฤดูการผลิต
           2.เป็นสวนที่ผ่านการตรวดรับรองมาตรฐานการผลิตพืช "เกษตรที่ดีเหมาะสม(GAP)" ระดับแปลง โดยกรมวิชาการเกษตร
           3.มีการจัดเก็บข้อมูล ในระบบ QR Code (Quick Response Code)เพื่อให้ผู้บริโภคมีความมั่นใจ สามารถตรวดสอบย้อนกลับไปยังผู้ผลิตได้
        </ion-text>
    </ion-card-content>
  </ion-card>
  </ion-content >
  