<ion-content>
  <div text-center>
    <p></p>
    <p></p>
    <img src="../assets/img/logo.png" alt=""  />
    <p></p>
    <ion-button  class="ion-1x" color="warning"   shape="round" fill="solid" routerLink="/strong"><ion-text color="dark">จุดเด่นทุเรียนภูเขาไฟ</ion-text></ion-button>
    <p></p>
    <ion-button class="ion-1x" color="warning"   shape="round" fill="solid" routerLink="/standard"><ion-text color="dark">มาตรฐานทุเรียนภูเขาไฟ</ion-text></ion-button>
    <p></p>
    <ion-button class="ion-1x" color="warning"   shape="round" fill="solid" routerLink="/durian"><ion-text color="dark">เที่ยวสวนทุเรียนภูเขาไฟ</ion-text></ion-button>
<p></p>
</div>
<ion-grid>
  <ion-row>
    <ion-col>
      <ion-title class="ion-2x" color="light" text-center>พัฒนาโดย มหาวิทยาลัยราชภัฏศรีสะเกษ</ion-title>
    </ion-col>
  </ion-row>
</ion-grid>

</ion-content>
